* {
    margin: 0;
    padding: 0;
}

:root {
    --midnight-green: rgb(28, 71, 85);
    --lapis-lazuli: #456990ff;
    --honeydew: rgb(226, 248, 222);
    --bright-pink-crayola: #f45b69ff;
    --wine: #6b2737ff; 
}

/* colour stuff */
.bg-colour {
    background-color: var(--honeydew) !important;
}

.header-colour {
    background-color: var(--lapis-lazuli) !important;
}


/* custom styles */
.button-style {
    background-color: var(--midnight-green) !important;
    color: white !important;
    font-weight: bold;
    box-shadow: 1px 1px 0 3px white !important;
    border-radius: 5px !important;
}

.button-style:hover {
    background-color:  rgb(38, 93, 111) !important;
    box-shadow: 1px 1px 0 3px rgb(224, 222, 222) !important;
    color: rgb(231, 230, 230) !important;
}

.card-style {
    border: 0 !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 0 3px black;
}

.text-input-style {
    border: 0 !important;
    box-shadow: 1px 1px 0 2px black!important;
}

.profile-image {
    object-position: 50% 50%;
    object-fit: contain;
    max-height: 200px;
    box-shadow: 0px 0px 0 5px var(--honeydew);
    border-radius: 10%;
}

.usersView-image {
    object-position: 50% 50%;
    object-fit: contain;
    max-height: 80px;
    box-shadow: 0px 0px 0 5px var(--honeydew);
    border-radius: 10%;
}

.button-outline {
    outline: 4px solid rgb(0, 0, 0);
    
}


/* single-element styling */
#header {
    box-shadow: 0px 5px black;
}

#loginButton {
    background-color: var(--midnight-green) !important;
    color: white !important;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 1px 1px 0 4px rgb(11, 29, 49) !important;
    border-radius: 3px !important;
}

#loginButton:hover {
    box-shadow: 1px 1px 0 6px rgb(17, 44, 74) !important;
}

#createAccountButton {
    background-color: var(--lapis-lazuli) !important;
    color: white !important;
    font-weight: bold;
    box-shadow: 1px 1px 0 3px var(--midnight-green) !important;
    border-radius: 5px !important;
}

#createAccountButton:hover {
    box-shadow: 1px 1px 0 6px rgb(34, 84, 101) !important;
}

#usersView {
    display: none;
}

#profileView {
    display: none;
}